/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a, a:hover, button, input[type='submit'] {
    cursor:pointer;
}



body {
    background-color:#efebe8;
    font-family: arial;
}
.wrap {
    width:960px;
    margin:0 auto;
}
.left {
    float:left;
}
.right {
    float:right;
}
textarea {
    font-family: arial;
    font-size:1em;
}
/********************* HEADER ********************/
header {
    background-color:#ee8d03;
    padding-top:12px;
    padding-bottom:12px;
    /*overflow:hidden;*/
}
header h1 {
    display:inline-block;
}
header h1 a {
    background:url(/img/logo-eneid.png) top left no-repeat;
    height:42px;
    width:109px;
    text-indent:-9999px;
    display:block;
}
header button {
    background-color:#c87602;
    color:#fff;
    border:0;
    padding:8px 10px 7px 10px;
    margin-top:5px;
    border-radius:3px;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.5);
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.5);
    -webkit-transition: background 200ms ease-out;
    -moz-transition: background 200ms ease-out;
    -ms-transition: background 200ms ease-out;
    -o-transition: background 200ms ease-out;
    transition: background 200ms ease-out;
}
button:hover {
    background-color:#e18400;
}

button.disconnect { display:none}
button.disconnect.logged { display:block}

/******************** CONTENT *********************/
#contentWrapper {
    padding-top:20px;
}
#contentWrapper h2 {
    font-size:1.4em;
    font-weight:bold;
    margin-top:5px;
    margin-bottom:9px;
}

/**********  Time Line **********/
.timeline #contentWrapper {
    padding-bottom:63px;
}
#contentWrapper ul li {
    background-color:#ffffff;
    padding:10px 16px;
    margin-bottom:15px;
    overflow:hidden;
    -webkit-box-shadow: 0 2px 3px 0 rgba(0,0,0,0.3);
    box-shadow: 0 2px 3px 0 rgba(0,0,0,0.3);
    border-top:5px solid #ee8d03;
}
#contentWrapper ul li img {
    float:left;
    display:block;
    margin-right:16px;
}
#contentWrapper ul li .hour {
    background:url(/img/icon-clock.png) top left no-repeat;
    background-size:contain;
    font-size:1em;
    padding-left:25px;
    color:#d9d9d9;
}
#contentWrapper ul li .msg {
    clear:left;
    font-size:1.1em;
    line-height:1.3em;
    color:#333;
    padding-top:7px;
    padding-bottom:3px;
}

/**********  Box Envoi de message **********/
#message {
    position:fixed;
    bottom:0;
    padding:5px;
    border-top:3px solid #ee8d03;
    width:100%;
    background-color:#3d3938;
    text-align: center;
}
#message form{
    margin:0 auto;
    width:960px;
    padding-top:5px;
    padding-bottom:5px;
    overflow:hidden;
}
#message form textarea {
    border:0;
    border-radius:5px;
    padding:5px 10px;
    width:820px;
    height:30px;
    -webkit-transition: height 300ms ease-out;
    -moz-transition: height 300ms ease-out;
    -ms-transition: height 300ms ease-out;
    -o-transition: height 300ms ease-out;
    transition: height 300ms ease-out;
}
#message form textarea.msgCollaps {
    height:200px;
}
#message form input[type='submit'] {
    margin:0;
    height:40px;
    padding:0 20px;
    font-weight:bold;
    font-size:16px;
    background-color:transparent;
    color:#fff;
    border:2px solid #fff;
    border-radius:5px;
    -webkit-transition: background 200ms ease-out;
    -moz-transition: background 200ms ease-out;
    -ms-transition: background 200ms ease-out;
    -o-transition: background 200ms ease-out;
    transition: background 200ms ease-out;
}
#message form input[type='submit']:hover {
    color:#3d3938;
    background-color:#fff;
}


/******************** Styles spécifiques Page de connexion / souscription *********************/
body.auth,
body.subscribe{
    background-color:#ee8d03;
}
.auth #contentWrapper,
.subscribe #contentWrapper{
    margin-top:11%;
}
.auth h1,
.subscribe h1{
    background:url(/img/logo-eneid-tall.png) top left no-repeat;
    width:249px;
    height:97px;
    text-indent:-9999px;
    margin:0 auto 50px auto;
}
.auth #content,
.subscribe #content{
    text-align:center;
}
.auth form {
    margin-bottom:10px;
}
.auth #content [type='text'],
.subscribe #content [type='text']{
    background:#fff url(/img/user-icon.png) 8px 50% no-repeat;
}
.auth #content [type='email'],
.subscribe #content [type='email']{
    background:#fff url(/img/email-icon.png) 8px 50% no-repeat;
}
.auth #content [type='password'],
.subscribe #content [type='password']{
    background:#fff url(/img/keylock-icon.png) 8px 50% no-repeat;
}
.auth #content [type='text'],
.auth #content [type='password'],
.auth #content [type='email'],
.subscribe #content [type='text'],
.subscribe #content [type='password'],
.subscribe #content [type='email']{
    border:0;
    width:230px;
    padding:10px 10px 10px 35px;
    border-radius:5px;
    margin-bottom:15px;
    background-size:auto;
}

.auth #content input[type='submit'],
.subscribe #content input[type='submit'],
.auth #content button[type='submit'],
.subscribe #content button[type='submit']{
    border:0;
    color:#fff;
    padding:12px 10px 10px 10px;
    width:274px;
    background-color:#c87602;
    -webkit-box-shadow: 0 2px 3px 0 rgba(0,0,0,0.3);
    box-shadow: 0 2px 0px 0 rgba(0,0,0,0.3);
    -webkit-border-radius:5px;
    border-radius:5px;
    -webkit-transition: background 200ms ease-out;
    -moz-transition: background 200ms ease-out;
    -ms-transition: background 200ms ease-out;
    -o-transition: background 200ms ease-out;
    transition: background 200ms ease-out;
}
.auth #content input[type='submit']:hover {
    background-color:#e18400;
}
.auth .createAccount {
    color:#fff;
    text-decoration:underline;
    font-size:14px;
    clear:left;
}


/*********************** Animations CSS  *********************/
.anim {
    -webkit-animation: fadein 3s; /* Safari and Chrome */
    -moz-animation: fadein 3s; /* Firefox */
    -ms-animation: fadein 3s; /* Internet Explorer */
    -o-animation: fadein 3s; /* Opera */
    animation: fadein 3s;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari and Chrome */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}



/*********************** CSS Responsive  *********************/
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) 
and (orientation : portrait) {
    .wrap {
        width:100%;
        margin:0 auto;
    }
    .auth h1,
    .subscribe h1{
        margin-bottom:25px;
        width:249px;
        height:97px;
        background-size:80%;
        background-position:center;
    }
    
}


