<h1>Eneib</h1>
<form ng-submit="subscribe(email, password, name, firstName)">
    <div>
        <input type="text" id="firstName" ng-model="firstName" placeholder="Prénom">
    </div>
    <div>
        <input type="text" id="name" ng-model="name" placeholder="Nom">
    </div>
    <div>
        <input id="email" ng-model="email" type="text" placeholder="Courriel">
    </div>
    <div>
        <input id="password" ng-model="password" type="password" placeholder="Mot de passe">
    </div>

    <input type="submit"/>
</form>