<section id="content" class="wrap">
    <div>
        <div ng-model="messages"></div>
        <ul id="timeLine">
            <li ng-repeat="message in messages | orderBy:'date':true">
                <img gravatar-src="'{{ message.author.email }}'" gravatar-size="60" style="border-radius: 50px;">
                <h2>{{ message.author.name }} {{ message.author.firstName }}</h2>
                <span class="hour">{{ message.date | date:'dd/MM/yyyy HH:mm'}}</span>
                <p class="msg">{{ message.contents }}</p>
            </li>
        </ul>
    </div>
</section>
<section id="message" ng-cloak>
    <form ng-submit="sendMessage()">
        <textarea class="left {{ messageStatus}}" ng-model="content" ng-click="msgCollaps()" placeholder="Saisissez votre message"></textarea>
        <input class="right" placeholder="Envoyer" value="Envoyer" type="submit" />
    </form>
</section>

